body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100vw;

}

#content {
    /* font-size: 2rem; */
    font-family: arial;
    width: 80%;
}

.newItemBtn {
    padding: 5px 10px;
    background-color: greenyellow;
    font-size: 1rem;
}

.todoItem.active {
    border: 1px solid black;
}

.todoItem input[type='text'] {
    font-size: 1rem;
    width: 80%;
    /* border: none; */
    /* border-bottom: 1px solid black; */
}

.itemInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
}

.itemInfo.contracted {
    padding: 0;
    row-gap: 0;
}

.expanded {
    display: flex;
}

.hidden {
    display: none;
}

.expanded {
    animation: open 0.2s ease-out forwards;
}

.contracted {
    animation: close 0.2s ease-in forwards;
}

@keyframes open {
    0% {
        transform: scaleY(0);
        max-height: 0px;
    }
    100% {
        transform: scaleY(1);
        max-height: 500px;
    }
}

@keyframes close {
    0% {
        transform: scaleY(1);
        max-height: 500px;
    }
    100% {
        transform: scaleY(0);
        max-height: 0px;
    }
}

/* Styling Form Inputs */
input[type='text']::placeholder {
    color: grey;
    opacity: 0.5;
}

/* Save Button and Message */

.saveItemBtn {
    width: 150px;
}

.saveBtnContainer,
.messageContainer {
    display: flex;
    justify-content: flex-end;
}

.saveMessage {
    color: green;
    font-size: .8rem;
}