@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* list icon */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
/* forest icon */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    font-size: 4rem;
}

:root {
    --default-font: "Montserrat", sans-serif;
    --header-bg-colour: #7bb2a3;
    --navbar-bg-colour: #415d2e;
    --content-bg-colour: #fff;
    --project-sign-bg-colour: #a05824;

    --header-height: 100px;
    --header-width: 100vw;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--header-width);
    height: var(--header-height);
    font-family: var(--default-font);
    background-color: var(--header-bg-colour);
}

.gridContainer {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100vw;
    height: calc(100vh - var(--header-height));
}

#todoItemContainer {
    background-color: var(--content-bg-colour);
    /* max-width: 80%; */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.today--title__heading {
    font-size: 1.8rem;
    font-weight: bolder;
}

.today--title__date {
    font-size: 1rem;
    opacity: 0.5;
    margin-left: 5px;
}

.project--heading__container {
    display: flex;
    width: 100%;
}

.newProjectBtn, .newItemBtn {
    /* background-color: greenyellow; */
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.todoItem.active {
    border: 1px solid black;
}

.todoItem input[type='text'] {
    font-size: 1rem;
    min-width: 60vw;
    border: none;
    border-bottom: 1px solid black;
}

/* Styling Form Inputs */
input[type='text']::placeholder {
    color: grey;
    opacity: 0.5;
}

.todoItem--priority__label {
    position: fixed;
    width: 55px;
    height: 18px;
    text-align: left;
    transform: translate(-55px, 3px);
}

.todoItem--priority__text {
    font-size: .8rem;
    opacity: 0.7;
    color: black;
}

.high {
    background-color: orange;
}

.medium {
    background-color: yellow;
}

.low {
    background-color: lightgreen;
}

.noneSelected {
    display: none;
}

.priority--dropdown option {
   color: red;
   background-color: red;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
}

.itemInfo.contracted {
    padding: 0;
    row-gap: 0;
}

.expanded {
    display: flex;
}

.hidden {
    display: none;
}

.expanded {
    animation: open 0.2s ease-out forwards;
}

.contracted {
    animation: close 0.2s ease-in forwards;
}

@keyframes open {
    0% {
        transform: scaleY(0);
        max-height: 0px;
    }
    100% {
        transform: scaleY(1);
        max-height: 500px;
    }
}

@keyframes close {
    0% {
        transform: scaleY(1);
        max-height: 500px;
    }
    100% {
        transform: scaleY(0);
        max-height: 0px;
    }
}

/* Save Button and Message */

.saveItemBtn {
    width: 150px;
}

.saveBtnContainer,
.messageContainer {
    display: flex;
    justify-content: flex-end;
}

.saveMessage {
    color: green;
    font-size: .8rem;
}

/* Navbar & Navbar Contents */

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navbar-bg-colour);
}

.navbar--action__button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.navbar--action__button img {
    width: 32px;
}

.navbar--action__button span {
    font-family: "Montserrat";
    font-size: .9rem;
    color: white;
}

.navbar--actions__bottom {
    position: absolute;
    bottom: 0px;
}

.navbar--projects__links {
    padding: 0;
}

.navbar--projects__links > li, a, button {
    font-family: var(--default-font);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.navbar--projects__title {
    font-family: var(--default-font);
    color: white;
    opacity: 0.8;
}

.navbar li {
    list-style-type: none;
}

.project--signpost a {
    color: white;
    font-weight: bolder;
}

.project--signpost {
    width: 140px;
    height: 40px;
    position: relative;
    background: var(--project-sign-bg-colour);
    border: 1px solid black;
    text-indent: 10%;
    line-height: 35px;
}

.project--signpost:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid var(--project-sign-bg-colour);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
/* New Project Modal Form */
.modalContainer {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}



.modalContainer.showModal {
    opacity: 1;
    pointer-events: auto;
}

.project-modal--heading {
    text-align: left;
    margin-bottom: 15px;
}

.project-modal--details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.project--modal__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project--modal__buttons button {
    padding: 5px 15px;
    border-radius: 8px;
    border: none;
    font-family: var(--default-font);
}

#submitModal {
    background-color: var(--navbar-bg-colour);
    color: white;
    margin-left: 10px;
}

#submitModal:hover {
    background-color: #344b24;
}

#closeModal {
    background-color: lightgray;
}

#closeModal:hover {
    background-color: rgb(171, 168, 168);
}
