body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    /* font-size: 2rem; */
    font-family: arial;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    row-gap: 5px;
}

.expanded {
    display: flex;
}

.hidden {
    display: none;
}
